<div class="top" style="background: #008f3f;height: 30px;line-height: 30px;overflow: hidden;">
	<div class="container clearfix" style="padding: 0 10px;margin: 0 auto;">
		<p class="left col-xs-12" style="float: left;color: #fff;font-size: 14px;">{eyou:global name='web_attr_9' /}</p>
		<!--<p class="right" style="float: right;color: #fff;">咨询热线：<b>{eyou:global name='web_attr_2' /}</b></p>-->
		<p class="right col-xs-12" style="float: right;color: #fff;font-size: 14px;">
			   {eyou:language type='list'}
			                <img src="{$field.logo}" alt="{$field.title}"/>
			                <a style="margin-right: 1.25rem;color: #fff;"  href="{$field.url}">{$field.title}</a>
			                {/eyou:language}
		</p>
	</div>
</div>
<header class="ey-head">
	<nav class="navbar navbar-default box-shadow-none ey-nav">
		<div class="container">
			<div class="row">
				<h1 hidden="">{eyou:global name="web_name" /}</h1>
				<div class="navbar-header pull-xs-left">
					<a href="{eyou:global name='web_cmsurl' /}/" class="navbar-logo vertical-align block pull-xs-left" title="{eyou:global name='web_name' /}">
						<div class="vertical-align-middle">
							<img src="{eyou:global name='web_logo' /}" alt="{eyou:global name='web_name' /}" />
						</div>
					</a>
				</div>

				<div class="db" style="">
					<div class="" style="align-content: 05px;font-size: 24px;line-height: 24px;padding: 20px 0 0 105px;color: #7f7f7f;float: left;">
						<p style="font-size: 18px;">{eyou:lang name='zixunrexian' /}</p>
						<span style="color:#008f3f;">{eyou:global name='web_attr_2' /}</span>
					</div>
				</div>


				<button type="button" class="navbar-toggler hamburger hamburger-close collapsed p-x-5 ey-nav-toggler" data-target="#ey-nav-collapse"
				 data-toggle="collapse">
					<span class="sr-only"></span>
					<span class="hamburger-bar"></span>
				</button>

			</div>
		</div>
	</nav>
	<nav class="navbar navbar-default box-shadow-none ey-nav" style="background: #008f3f;">
		<div class="container">
			<div class="collapse navbar-collapse navbar-collapse-toolbar pull-md-right p-0" id="ey-nav-collapse">
				<ul class="nav navbar-nav navlist">
					<li class="nav-item"> <a href="{eyou:global name='web_cmsurl' /}" title="{eyou:lang name='yybl1' /}" class="nav-link {eyou:eq name='$Request.param.m' value='Index'}active{/eyou:eq}">{eyou:lang
							name='yybl1' /}</a> </li>

					{eyou:channel type="top" row="60" id="field" currentstyle="active"}
					<li class="nav-item dropdown m-l-10"> <a href="{$field.typeurl}" class="nav-link dropdown-toggle {$field.currentstyle}"
						 {eyou:notempty name="$field.children" }data-toggle="dropdown" {/eyou:notempty} data-hover="dropdown"
						 aria-haspopup="true" aria-expanded="false"> {$field.typename}{eyou:notempty name="$field.children"}<span class="fa fa-angle-down p-l-5"></span>{/eyou:notempty}</a>
						{eyou:notempty name="$field.children"}
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-bullet">
							{eyou:channel name="$field.children" row="100" id="field2"}
							<div class="dropdown-item dropdown-submenu">
								<a href="{$field2.typeurl}" class="dropdown-item col">{$field2.typename}</a>
								{eyou:notempty name="$field2.children"}
								<div class="dropdown-menu animate">
									{eyou:channel name="$field2.children" row="100" id="field3"}
									<a href="{$field3.typeurl}" class="dropdown-item col">{$field3.typename}</a>
									{/eyou:channel}
								</div>
								{/eyou:notempty}
							</div>
							{/eyou:channel}
						</div>
						{/eyou:notempty}
					</li>
					{/eyou:channel}
					</li>

				</ul>
			</div>
		</div>
		</div>
	</nav>
</header>
